body
{
  background: white;
  margin: 0px;
  padding: 20px;
  font-family: sans-serif;
  font-size: smaller;
}

table.index_table td
{
  padding: 5px;
}

h1.rule_id
{
  background-color: #f4fafa;
  padding: 10px;
}

h1.rule_short
{
  border-bottom: 1px solid black;
  padding: 10px;
}

p
{
  padding-left: 10px;
}

pre.example
{
  background-color: #f4fafa;
  margin: 0px 10px 0px 10px;
  border: 1px dotted blue;
  padding: 10px;
}

table.parameters
{
  margin-left: 10px;
}

p.description
{
  background-color: #f4fafa;
  padding: 5px 10px 5px 10px;
}

p.compliance
{
  background-color: #f4fafa;
  padding: 5px 10px 5px 10px;
}

p.virtual_link
{
  background-color: #f4fafa;
  padding: 5px 10px 5px 10px;
}

p.virtual_link a
{
  text-decoration: underline;
  cursor: pointer;
}
