Source: vera++
Section: devel
Priority: extra
Maintainer: Vincent Hobeïka <vincent.hobeika@gmail.com>
Build-Depends: debhelper (>= 9), libboost-dev (>= 1.55), tcl-dev (>= 8), libboost-wave-dev (>= 1.55), libboost-thread-dev (>= 1.55), libboost-system-dev (>= 1.55), libboost-program-options-dev (>= 1.55), cmake (>= 3)
Standards-Version: 3.9.5
Homepage: https://bitbucket.org/verateam/vera/wiki/Home
Vcs-Git: https://bitbucket.org/verateam/vera.git
Vcs-Browser: https://bitbucket.org/verateam/vera/src

Package: vera++
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: tclsh
Description: Programmable verification and analysis tool for C++
 Vera++ is a programmable tool for verification, analysis and transformation of
 C++ source code.
 Vera++ is mainly an engine that parses C++ source files and presents the
 result of this parsing to scripts in the form of various collections -
 the scripts are actually performing the requested tasks.
